@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*-------------------- TYPOGRAPHY --------------------*/
    --heading-text: "Montserrat", sans-serif;
    --body-text: "Inter", sans-serif;

    /*-------------------- COLOR --------------------*/
    --bg-light: #F8FAFC;
    --primary-navy: #0A192F;
    --secondary-navy: rgba(10, 25, 47, 0.1);
    --accent-orange: #F97316;
    --success-color: #10B981;
    --font-dark: #1E293B;
    --font-dark-2: rgba(30, 41, 59, 0.8);
    --font-dark-3: rgba(30, 41, 59, 0.5);
    --font-light: rgba(248, 250, 252, 0.8);
}

html {
    font-size: 62.5%;
    /* Default 16px * 62.5% = 10px base */
}

body {
    background-color: var(--bg-light);
    font-family: "Inter", sans-serif;
    color: var(--font-dark);
    font-size: 1.6rem;
    color: var(--font-dark);
}

/*-------------------- REUSABLE CLASS --------------------*/
.heading {
    font-family: "Montserrat", sans-serif;
    color: var(--primary-navy);
    font-weight: 700;
    font-size: 3rem;
}

.btn-primary {
    color: var(--font-light);
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 8px;
    background-color: var(--accent-orange);
    border: var(--accent-orange);
    box-shadow: none;
}

.section-container {
    text-align: center;
    width: 90%;
    margin: 40px auto;
}

.btn-primary:hover {
    box-shadow: 5px 5px 5px rgba(0 0 0 / 0.1);
}

/* logo */
#logo {
    color: var(--primary-navy);
    margin-inline: 2rem;
}

#logo,
.logo {

    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: text-shadow 0.3s;
}

#logo:hover {
    text-shadow: 2px 2px rgba(0 0 0 / 0.1);
}

.logo:hover {
    text-shadow: 2px 2px rgba(255 255 255 / 0.1);
}

/* Navbar */
nav i {
    font-size: 2rem;
}

.navbar-end .btn i {
    padding: 5px;
}

.navbar-end .btn,
.menu-horizontal li {
    border-radius: 8px;
    transition: background-color 0.3s;
}

.navbar-end .btn:hover,
.menu-horizontal li:hover {
    background-color: var(--secondary-navy);
}

/* Hero Section */
.hero-overlay {
    background: linear-gradient(to right, var(--primary-navy), transparent);
}

h1.heading {
    color: var(--bg-light);
}

.hero p {
    color: var(--font-light);
}

/* About section */
#about p {
    color: var(--font-dark-2);
}

/* #about .grid {
    grid-auto-rows: 1fr;
} */

#about .card {
    border-radius: 8px;
    min-height: 170px;
}

.card-icon-container {
    background-color: var(--secondary-navy);
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    border-radius: 8px;
    border: 5px solid white;
    box-shadow: 2px 5px 10px rgba(0 0 0 / 0.1);

}

.card-body {
    position: relative;
}

.card-body .card-icon-container {
    position: absolute;
    top: -30px;
}

.card-body i {
    font-size: 2.8rem;
    color: var(--accent-orange);
}

.card-title {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
}

.card-body p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--font-dark-3);
}

/* Footer */
footer.section-container {
    margin-block: 0;
}

#contact {
    background-color: var(--primary-navy);
}

footer {
    color: var(--font-light);
    font-size: 1.2rem;
    line-height: 1.5rem;
}

footer .btn-primary:hover {
    box-shadow: 5px 5px 5px rgb(249 115 22/ 0.2);
}

#footer-form-elements input {
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 8px;
    border: none;
    outline: none;
}

footer nav a:hover {
    cursor: pointer;
    color: var(--accent-orange);
}

/*-------------------- RESPONSIVE --------------------*/
/* for medium screens */
@media screen and (min-width: 768px) {
    #about .card {
        min-height: 220px;
    }

    #copyright {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

/* for large screens */
@media screen and (min-width: 1024px) {
    #footer-form {
        justify-self: end;
    }

    #footer-form-elements {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer-form-elements input {
        border-top-right-radius: initial;
        border-bottom-right-radius: initial;
    }

    #footer-form-elements button {
        border-top-left-radius: initial;
        border-bottom-left-radius: initial;
    }

    /* For 2K resolutions (2048 x 1152, 2048 x 1536) */
    @media screen and (min-width: 2048px) {
        body {
            zoom: 1.4;
        }
    }
}

/* Product Cards:

Background: White (#FFFFFF).

Border: Very light grey (#E2E8F0) or a subtle shadow (box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);).

Corner Radius: 8px (gives a modern, friendly feel).

Buttons:

Primary Button (Add to Cart): Background: Orange; Text: White; Bold. Hover effect: Slightly darker orange.

Secondary Button (Wishlist): Transparent background; Navy border; Navy text.

Input Fields (Search Bar):

Large, rounded (25px border-radius), with a subtle Navy border when focused. */